*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(82, 61, 16);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    margin-bottom: 1rem;
    color: rgb(255, 251, 251);
    font-weight: 600;
}

h2{
    color: rgb(255, 255, 255);
    font-weight: 400;
}

p{
    margin-bottom: 1rem;
    color: azure;
}

img{
    width: 100%;
    margin: 1rem 0;
    border-radius: 3%;
    box-shadow: 10px 5px 5px rgb(160, 128, 128);
}

main{
    background-color: rgb(15, 13, 36);
    padding: 3rem;
    margin: 3rem auto;
    max-width: 800px;
    display: block;
    border-radius: 5%;
}

a.button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }